* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    color: white;
    letter-spacing: 1px;

}

body{
    background: url("https://cdn.allwallpaper.in/wallpapers/1999x1124/5495/dj-blue-1999x1124-wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.js-search-results {
    white-space: pre-wrap;
}
.green {
    background-color: green;
    width: 50%;
    margin: 10px auto 10px auto;
}

.red    {
    background-color: red;
    width: 50%;
    margin: 10px auto 10px auto;
}

.video  {
    height: 180px;
    width: 320px;
}

legend  {
    display:none;
}

fieldset    {
    padding: 10px;
    border: white 2px solid;
    border-radius: 10px;
}

.label-container   {
    text-align: center;
    font-size: 2em;
    padding: 5px;
}


input {
    padding: 4px;
    border: grey 1px solid;
    border-radius: 3px;
    margin: 0 auto 20px auto;
    font-size: .8em;
    text-align: center;
}

.title  {
    text-align: center;
}

.submit {
    display: block;
    margin: 0 auto 0 auto;
    padding: 15px;
    font-size: 1.2em;
    background-color: gray;
    color: white;
    border: 1px white solid;
    border-radius: 3px;
    width: 50%;
}

footer {
    margin-top: 50px;
}
.swear-results {
    text-align: center
}
label {
    display:block;
}
.video {
    display:block;
    margin: 0 auto 10px auto;
}

.js-search-results  {
    text-align: center;
}

/*@media only screen and (min-width: 550px) {
    
}*/
@media only screen and (min-width: 768px) {
    fieldset {
        max-width: 768px;
        margin: auto;
    }
    .video  {
        height: 360px;
        width: 640px;
    }
}
/* min width small to large
  max width large to small */