* {
    box-sizing: border-box;
}

body    {
    background: url("https://cdn.allwallpaper.in/wallpapers/1999x1124/5495/dj-blue-1999x1124-wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.dirty  {
    font-family: 'Creepster', cursive;
}

.clean  {
    font-family: 'Pacifico', cursive;
}

.main-title h1   {
    font-family: 'Monoton', cursive;
}

.lyrics {
    white-space: pre-wrap;
    text-align: center;
    padding: 20px;
}

.video  {
    height: 180px;
    width: 320px;
}

legend  {
    display:none;
}

fieldset    {
    padding: 10px;
    border: white 2px solid;
    border-radius: 10px;
}

.label-container   {
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

input {
    padding: 4px;
    border: grey 1px solid;
    border-radius: 3px;
    margin: 0 auto 20px auto;
    font-size: .8em;
    text-align: center;
    color: black !important;
}

.title  {
    text-align: center;
}

.submit {
    display: block;
    margin: 0 auto 0 auto;
    padding: 15px;
    font-size: 1.2em;
    background-color: #2d3877;
    color: white;
    border: 1px white solid;
    border-radius: 3px;
    width: 50%;
}

footer {
    margin-top: 50px;
}

label {
    display:block;
}

.video {
    display:block;
    margin: 0 auto 10px auto;
}

.swear-results  {
    text-align: center;
}
.js-search-results  {
    text-align: center;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media only screen and (min-width: 768px) {
    fieldset {
        max-width: 768px;
        margin: auto;
    }
    
    .video  {
        height: 360px;
        width: 640px;
    }

}
/* min width small to large
  max width large to small */